body {
	color: #333;
	background-color: #eee;
}

.hidden {
  display: none !important;
}

#chrono {
	text-align: center;
	font-size: 30vw;
}

#controllers {
  width: 798px;
	margin-bottom: 40px;
	display:block;
  clear:both;
}

#controlButtons {
	width: 230px;
	float: left;
	margin-bottom: 20px;
}

#timeControls {
	width: 318px;
	float: left;
	margin-bottom: 20px;
}


#timePresets {
	width: 250px;
	float: left;
}

@media (max-width: 830px) {
	#controllers {
		width: 100vw;
	}
	
	#timePresets {
		float: none;
	}
	
	#timeControls {
		float: none;
	}
	
	#controlButtons {
		float: none;
	}
}

#config {
	width: 52px;
}


.btn {
	//margin-left: 10px;
	//margin-right: 10px;
}

.btn-group {
	//margin-left: 10px;
	//margin-right: 10px;
}

.btn-group .btn {
	//margin-left: 0px;
	//margin-right: 0px;
}

.timesControls {
	width: 80px !important;
}

.input-group {
	//margin-left: 10px;
	//margin-right: -10px;
}

/*
@media (max-width: 800px)  {
	#chrono {
		font-size: 200px;
	}
}

@media (max-width: 580px) {
	#chrono {
		font-size: 140px;
	}
}

#chrono {
	font-size: ;
}
*/